{% extends 'freelancer/base.html' %}
{% block 'freelancer_content' %}
{% load static %}

<div class="row" style="background-color:white;padding:10px;border-radius:10px;">
    <h3 align="center" style="margin:1% auto;color:#ff0057">Projects</h3>
</div>



<style>
    @media screen and (max-width: 567px) {
        .card-text {
          margin-bottom: 0.5em;
        }
      }
      
      .card {
        flex-direction: row;
        margin-top:25px;
        margin-left: -15px;
        height:180px;
      }
      .card-body {
        padding: 0.5em 1em;
      }
      .card1.card img {
        max-width: 10em;

        height: 100%;
        border-bottom-left-radius: calc(0.25rem - 1px);
        border-top-left-radius: calc(0.25rem - 1px);
      }
      
      .card-container{
        width:970px;
      }
</style>

<div class="card-container">
    {% for detail in project_details %}
    
    <div class="card1 card align-items-center" style="max-width: 1020px;">
        <img src="{{ detail.client_register.profile_picture.url }}" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="color:red;padding-top:20px;">{{ detail.project.title|default:'' }}</h5>
          <p class="card-text">{{ detail.project.description|truncatechars:100|default:'' }}</p>
          <p class="budget"><strong style="color:red;">Budget : </strong>{{ detail.project.budget|default:'' }} </p>
          
          <p class="budget"><strong style="color:red;">Category : </strong>{{ detail.project.category|default:'' }}  </p>
          <p><strong style="color:blueviolet;">Proposal End Date : </strong>{{ detail.project.end_date|default:'' }}</p><br>
          
        </div>
        <a href="{% url 'freelancer:single_project_view' detail.project.id %}" class="btn btn-primary" style="margin-right:30px;">View More</a>
      </div>
    {% endfor %}

    
</div>

{% endblock %}
