
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% load static %}
  <title>FreelanceHub</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{%  static 'vendors/feather/feather.css'  %}">
  <link rel="stylesheet" href="{%  static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{%  static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{%  static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" href="{%  static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{%  static 'js/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{%  static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{%  static 'images/favicon.png' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

  <script>
      toastr.options = {
          "closeButton": true,
          "debug": false,
          "newestOnTop": true,
          "progressBar": true,
          "positionClass": "toast-top-right",
          "preventDuplicates": true,
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "5000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
      };
  </script>
  <script>
        $(document).ready(function() {
            {% if messages %}
                {% for message in messages %}
                    toastr.options = {
                        "closeButton": true,
                        "progressBar": true
                    };
                    toastr.{{ message.tags }}("{{ message }}");
                {% endfor %}
            {% endif %}
        });
    </script>
  
  <style>
    .preview-item {
      padding: 10px;
      border-bottom: 1px solid #e0e0e0;
      display: flex;
      align-items: center;
  }
  
  .preview-thumbnail {
      margin-right: 10px;
  }
  
  .preview-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: #fff;
      font-size: 18px;
  }
  
  .preview-item-content {
      flex-grow: 1;
  }
  
  .preview-subject {
      font-size: 14px;
      margin: 0;
  }
  
  .small-text {
      font-size: 12px;
      color: #888;
  }
  
  .mark-as-read {
      font-size: 12px;
      color: #092b51;
      background: none;
      border: none;
      cursor: pointer;
  }
  
  .mark-as-read:hover {
      text-decoration: none;
      color: #0d3d70;
  }
  
  </style>
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="#"><img src="{% static 'img/logo.png' %}" class="mr-2"
            alt="logo" /></a><a class="navbar-brand brand-logo-mini" href="#"><img src="{% static 'img/logo2.png' %}"
            alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now"
                aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                <i class="icon-bell mx-0"></i>
                <span style="margin-left:8px;color:white; font-size:10px;background-color:rgb(14, 14, 160);margin-top:-5px;height:16px;width:16px;" class="count">{{ unread_notifications.count }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                {% for notification in unread_notifications %}
                <a class="dropdown-item preview-item">
                    <div class="d-flex align-items-center">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-success">
                                <i class="ti-info-alt mx-0"></i>
                            </div>
                        </div>
                        <div class="preview-item-content flex-grow-1">
                            <h6 class="preview-subject font-weight-normal">{{ notification.message }}</h6>
                            <p class="font-weight-light small-text mb-0 text-muted">
                                {{ notification.created_at|timesince }} ago
                            </p>
                        </div>
                        <form action="{% url 'client:notification_mark_as_read' not_id=notification.id %}?next={{ request.path }}" method="post">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-sm btn-link">Mark as Read</button>
                      </form>
                      
                    </div>
                </a>
                {% endfor %}
                {% if not unread_notifications %}
                <p class="font-weight-light small-text mb-0 text-muted">No unread notifications</p>
                {% endif %}
            </div>
        </li>
        
        
          <li class="nav-item nav-search d-none d-lg-block">
            <span>Hi,{{ profile2.first_name }}</span>
          </li>
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="{{ profile2.profile_picture.url }}" alt="profile" />

            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="ti-profil text-primary"></i>
                Profile
              </a>
              <a class="dropdown-item">
                <i class="ti-settings text-primary"></i>
                Update Profile
              </a>
              <a class="dropdown-item">
                <i class="ti-settings text-primary"></i>
                Password Reset
              </a>
              <a class="dropdown-item" href="{% url 'logout' %}">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
          <li class="nav-item nav-settings d-none d-lg-flex">
            <a class="nav-link" href="#">
              <i class="icon-ellipsis"></i>
            </a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">

      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab"
              aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
          </li> -->
        </ul>
        <div class="tab-content" id="setting-content">
          <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel"
            aria-labelledby="todo-section">
            <div class="add-items d-flex px-3 mb-0">
              <form class="form w-100">
                <div class="form-group d-flex">
                  <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                  <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                </div>
              </form>
            </div>
            <div class="list-wrapper px-3">
              <ul class="d-flex flex-column-reverse todo-list">
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Team review meeting at 3.00 PM
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>

              </ul>
            </div>

          </div>
          <!-- To do section tab ends -->

        </div>
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar" style="margin-left:-13px;">
        <ul class=" nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'client:client_view' %}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="{% url 'client:account_settings' %}">
              <i class="fas fa-user menu-icon"></i>
              <span class="menu-title">Account</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#work" aria-expanded="false" aria-controls="ui-basic">
              <i class="fas fa-tasks menu-icon"></i>
              <span class="menu-title">Project</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="work">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'client:project_list' %}">Project List</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'client:add_new_project' %}">Post New Project</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'client:freelancer_list' %}">
              <i class="fas fa-users menu-icon"></i>
              <span class="menu-title">Freelancers</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'client:calendar' %}">
              <i class="far fa-calendar-alt menu-icon menu-icon"></i>
              <span class="menu-title">Calendar</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout'%}">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Logout</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          {% block 'client_content' %}


          {% endblock %}
        </div>
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

<!---Modal -->

<div class="modal fade" id="verificationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="verificationModalLabel" style="margin-left:100px;color:brown;font-size:20px;">Account Verification Required</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <div class="modal-body">
        <img src="{%  static 'img/no-access.png' %}" alt="Image Description" style="height:200px;margin-left:130px;" class="img-fluid mb-3">
        <p>You cannot access this feature until an administrator verifies your account details.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!---modal ends -->
  <!-- plugins:js -->
  <script src="{%  static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{%  static 'vendors/chart.js/Chart.min.js' %}"></script>
  <script src="{%  static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
  <script src="{%  static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
  <script src="{%  static 'js/dataTables.select.min.js' %}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{%  static 'js/off-canvas.js' %}"></script>
  <script src="{%  static 'js/hoverable-collapse.js' %}"></script>
  <script src="{%  static 'js/template.js' %}"></script>
  <script src="{%  static 'js/settings.js' %}"></script>
  <script src="{%  static 'js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{%  static 'js/dashboard.js' %}"></script>
  <script src="{%  static 'js/Chart.roundedBarCharts.js' %} "></script>
  <!-- End custom js for this page-->
</body>



</html>