<div class="card-container">
    {% for user_data in users %}
    <div class="card">
        <div class="card-header">
            <p>User: {{ user_data.user.username }}, Role: {{ user_data.user.role }}</p>
        </div>
        <div class="card-body">
            <p>Freelancer Profile:</p>
            <p>Education: {{ user_data.freelancer_profile.education|default:'None' }}</p>
            <p>Experience Level: {{ user_data.freelancer_profile.experience_level|default:'None' }}</p>
            <p>Professional Title: {{ user_data.freelancer_profile.professional_title|default:'None' }}</p>
            <p>Skills: {{ user_data.freelancer_profile.skills|default:'None' }}</p>
            <p>Portfolio Link: <a href="{{ user_data.freelancer_profile.portfolio_link }}" target="_blank">{{ user_data.freelancer_profile.portfolio_link }}</a></p>
            
            <p>Register:</p>
            {% if user_data.registers %}
                {% for register in user_data.registers %}
                    <p>Name: {{ register.first_name|default:'None' }} {{ register.last_name|default:'None' }}</p>
                    <p>Phone Number: {{ register.phone_number|default:'None' }}</p>
                    <p>Location: {{ register.location|default:'None' }}</p>
                    <p>Bio Description: {{ register.bio_description|default:'None' }}</p>
                    <p>LinkedIn: <a href="{{ register.linkedin }}" target="_blank">{{ register.linkedin }}</a></p>
                    <p>Instagram: <a href="{{ register.instagram }}" target="_blank">{{ register.instagram }}</a></p>
                    <p>Twitter: <a href="{{ register.twitter }}" target="_blank">{{ register.twitter }}</a></p>
                {% endfor %}
            {% else %}
                <p>None</p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>